@font-face {
    font-family: font;
    src: url(../css/font/Lato-Heavy.ttf);
}
@font-face {
    font-family: font2;
    src: url(../font/Mario-Kart-DS.ttf);
}
@font-face {
    font-family: Intro;
    src: url(../css/font/introrust-base.otf);
}

.ev, body, main{
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    background-color: #3d3d3d;
}
html{
    scroll-behavior: smooth;
}
main{
    align-items: center;
}
nav{
    background: linear-gradient(to right, #fc7d34,#b6551c);
}
.bn, .botao, .link{
    width: 100%;
    text-align: center;
}
.botao{
    padding: 10px 0px;
}
.link{
    font-family: Intro;
    text-decoration: none;
}
a
{
    color:white;
    text-decoration: none;
    transition: 0.3s;
}
a:hover
{
    color: #3d3d3d;
}
.historia, .sobre, .mais
{
    /*scroll-behavior: smooth;*/
}
.gif
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.gif1
{
    width: 20vw;
}
#gif
{
    display: flex;
    width: 20vw;
}
.titulo
{
    color: #cacaca;
    font-size: 38px;
    font-family: Intro;
    text-align: center;
}
.conteudo
{
    color: #cacaca;
    font-size: 20px;
    margin: 0px 10%;
    font-family: font;
    text-align: center;
}
footer
{
    display: flex;
    justify-content: end;
}
